[submodule "src/src_/ROS-TCP-Endpoint"]
	path = src/src_/ROS-TCP-Endpoint
	url = https://github.com/Unity-Technologies/ROS-TCP-Endpoint.git
	branch = main-ros2
[submodule "src/dependencies/yaml-cpp"]
	path = src/dependencies/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "src/dependencies/WiringPi"]
	path = src/dependencies/WiringPi
	url = https://github.com/WiringPi/WiringPi.git
